<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration from</title>
</head>
<body>
    <h1>Registration Form</h1>
      <form action="">
        {{form}}
        {% comment %} {{form.as_table}} {% endcomment %}
        {% comment %} {{form.as_ul}} {% endcomment %}
        <br>
        <br>
       {{form.name}}
        <br>
        <br>
        {{form.email}}
        <br>
        <br>
        {{form.city}}
        <br>
        <br>
        <button>submit</button>
      </form>
</body>
</html>